body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #13c409;
  color: white;
  text-align: left;
  padding: 1em;
}

section {
  margin: 20px;
}

h1 {
  color: #333;
}

p {
  line-height: 1.6;
}

button {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
